# Python specific #
*.py[cod]
__pycache__/

# Virtualenv #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm specific #
.idea/
*.iml
*.ipr
*.iws

# JetBrains IDE common #
.idea/*
*.iml
*.iws

# Ignore Docker-specific files, but keep Dockerfile and docker-compose files #
!.dockerignore
!Dockerfile
!docker-compose.yml
